/*général*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

body {
    max-width: 1400px;
    margin: auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

h1 {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 700;
}

p {
    margin-top: 4px;
}

section p {
    margin: 10px 20px;
}

.icon-filtre,
.icon-info,
.etoile,
.graph-populaire {
    color: #0065FC;
}
/*fin général*/

/*debut header*/
header {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    width: 61px;
    height: 19px;
    margin-left: 5px;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition-duration: 1s;
}

#logoBooki:hover {
  position: relative;
  animation: roll 2s linear; 
}

.image {
  width: 100%; 
  height: 100%; 
  transform-origin: center center; 
}

@keyframes roll {
  0% {
    transform: translateX(0) rotate(0deg); 
  }
  50% {
    transform: translateX(300%) rotate(360deg) scale(2);
  }
  100% {
    transform: translateX(0) rotate(-360deg) ; 
  }
}

nav {
    height: 100%;
}

nav ul {
    height: 100%;
    display: flex;
}

nav li {
    height: 100%;
    list-style-type: none;
}

nav li a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

nav li a:hover {
    color: #0065FC;
    border-top: #0065FC solid 2px;
    transition-duration: 1s;
}
nav li :hover{
    transform: scale(1.5) rotate(1turn) ;
}
/*fin header*/

/*debut formulaires recherche*/
form {
    margin-top: 20px;
    display: flex;
}

form div {
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

form input {
    padding-left: 16px;
    border: 1px solid #F2F2F2;
    width: 236px;
    font-size: 18px;
    font-weight: 700;
}

/* debut bouton recherche*/
.submit-button {
    display: block;
    width: 132px;
    color: #FFFFFF;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}
.submit-button:hover{
    scale: 1.05;
}
.loupe {
    display: none;
}
#location:hover {
    scale: 1.15;
}
/*fin bouton recherche*/
/*fin formulaire recherche*/

/*debut filtres recherche*/
.filtres {
    margin: 32px 0 0 12px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
}

.filtres h2 {
    margin-right: 32px;
}

.filtres p {
    margin-right: 20px;
    white-space: nowrap;
}

.groupe-filtres {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5vw;
}

.bouton-filtre {
    height: 48px;
    display: flex;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    cursor: pointer;
}

.bouton-filtre:hover {
    background-color: #DEEBFF;
}

.icon-filtre {
    margin-left: 20px;
    margin-right: 10px;
}
/*fin filtres recherche*/

/*debut info*/
.info {
    margin: 35px 0 0 10px;
    display: flex;
    align-items: center;
}

.icon-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    margin-right: 10px;
}
.icon-info:hover{
    scale: 1.5;
    transform: rotate(-45deg);
    transition-duration: 1s;
}
/*fin info*/

/*debut cartes*/
article {
    background-color: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0 3px 15px rgba(0, 0, 0, 0.1));
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

article img {
    object-fit: cover;
    width: 100%;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0 0;
}

.description {
    margin-left: 15px;
    margin-top: -1.5%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.description h3 {
    font-size: 16px;
    font-weight: 700;
}

.description p {
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0px 0px 0px;
}

.prix {
    flex: 1;
}

.etoile {
    bottom: 0;
    height: 12px;
    justify-self: flex-end;
    display: flex;
}

.etoile-shaded {
    color: #F2F2F2;
}

.hebergements .description {
    height: 36%;
}

.cartes-hebergement article {
    width: 30.75%;
    height: 200px;
}

.hebergements article img {
    height: 62%;
}

.populaire article img {
    width: 40%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

.cartes-populaires article a {
    width: 100%;
    height: 144px;
    border-radius: 20px;
    display: flex;
}

.populaire .description {
    width: 50%;
    padding-top: 16px;
}

.activites article img {
    height: 28vw;
    max-height: 87.5%;
    border: none;
}

.activites .description {
    width: auto;
    height: 56px;
    margin: -1.5% 20px 0 20px;
    justify-content: center;
}

.carte-activites article {
    width: 21.5vw;
    max-height: 445px;
}
.carte {
    transition-duration: 0.5s;
}
.carte:hover{
    scale: 1.2;
}
/*fin cartes*/

/*debut hébergement*/
.hebergement-global {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    margin-top: 40px;
}

.hebergements {
    width: 63vw;
    max-width: 880px;
    height: 626px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.hebergements h2,
.plus {
    margin: 42px 0 23px 40px;
}

.plus:hover{
    font-size: larger;
    font-weight: 900;
}
.cartes-hebergement {
    width: 91%;
    height: 69%;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.hebergements .description {
    height: 36%;
}
/*fin hebergements*/

/*debut populaire*/
.populaire {
    width: 30vw;
    max-width: 420px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.entete-populaire {
    width: 82%;
    margin: 42px auto 23px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartes-populaires {
    width: 82%;
    height: 23%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 33px;
}
/*fin populaire*/

/*debut activités*/
.activites {
    margin: 60px 0;
}

.activites h2 {
    margin-bottom: 18px;
}

.carte-activites {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}
/*fin activités*/

/*debut footer*/
footer {
    display: flex;
    gap: 18%;
    background-color: #F2F2F2;
    padding: 45px 0 45px 70px;
}

footer h3 {
    margin-bottom: 20px;
}

footer p {
    margin-bottom: 12px;
}
/*fin footer*/

/*debut responsive*/
/*debut tablette*/
@media screen and (max-width: 992px) {
    .body-gap {
        padding-left: 0;
    }

    .filtres {
        margin-left: 0;
    }

    .info {
        margin-left: 0;
    }

    article {
        width: 31.5%;
    }

    .hebergement-global {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements {
        width: 100%;
        max-width: none;
    }

    .populaire {
        width: 100%;
        max-width: none;
        height: auto;
        padding-bottom: 30px;
    }

    .entete-populaire {
        width: 91%;
    }

    .cartes-populaires {
        display: flex;
        flex-direction: row;
        width: 91%;
        height: auto;
    }

    .activites {
        margin: 70px 0;
    }

    .entete-activites {
        margin-bottom: 34px;
    }

    footer {
        gap: 8%;
    }
}
/*fin tablette*/

/*debut mobile*/
@media screen and (max-width: 768px) {
    body {
        padding: 0;
    }

    .body-gap {
        padding-left: 20px;
    }

    header {
        height: 130px;
        flex-direction: column;
        padding-top: 20px;
    }

    header img {
        margin-left: 0;
    }

    nav {
        width: 100%;
        margin-top: 25px;
    }

    nav li {
        flex: 1;
    }

    nav li a {
        justify-content: center;
        border-bottom: #F2F2F2 solid 3px;
    }

    nav li a:hover {
        border-bottom: #0065FC solid 3px;
        border-top: none;
    }

    .submit-button {
        display: none;
    }

    .loupe {
        display: flex;
        color: #FFFFFF;
        background-color: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
        cursor: pointer
    }

    .filtres {
        width: 90vw;
        margin: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
        margin: 20px 20px 0px 20px;
    }

    form {
        margin: 20px;
    }

    .groupe-filtres {
        margin-top: 15px;
        gap: 3vw;
    }

    .bouton-filtre {
        width: 43vw;
    }

    .bouton-filtre p {
        margin: 0px 20px 0px 20px;
    }

    .icon-filtre {
        margin: 0 3px 0 8px;
    }

    .info {
        margin: 43px 0 0 10px;
        display: flex;
        align-items: flex-start;
    }

    .texte-info {
        width: 86vw;
    }

    .hebergement-global {
        flex-direction: column-reverse;
        gap: 0;
    }

    .populaire {
        height: 626px;
        border-radius: 0;
    }

    .entete-populaire {
        width: 89vw;
    }

    .cartes-populaires {
        flex-direction: column;
        gap: 10px;
    }

    .hebergements {
        height: auto;
        border-radius: 0;
        background-color: #FFFFFF;
    }

    section h2 {
        width: 89vw;
        margin: 25px auto 20px auto;
    }

    .cartes-hebergement {
        flex-direction: column;
        gap: 12px;
    }

    .plus {
        visibility: hidden;
    }

    .entete-activites {
        width: 89vw;
        margin: 0 auto 25px auto;
    }

    .carte-activites {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .populaire article,
    .hebergements article,
    .activites article {
        width: 90vw;
    }

    .description h3 {
        padding-top: 5px;
    }

    footer {
        flex-direction: column;
        gap: 40px;
        padding-left: 30px;
    }
}
/*fin mobile*/