/*général*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body {
    max-width: 1440px;
    margin: auto;
    margin: 0 40px;
}
h1 {
    font-size: 22px;
    font-weight: 700;
}
h2{
    font-size: 18px;
    font-weight: 700;
    margin: 0 10px 0 0;
}
a {
    text-decoration: none;
    color: #000000;
}

i{
    color: rgba(0, 101, 252, 1);
}
/*fin général*/

/*debut header*/
header {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoBooki {
  width: 5em;
  object-fit: fill;
  transition-duration: 0.5s;
}
header img {
    width: 100%;
}

nav {
    height: 100%;
    font-size: 16px;
    font-weight: 400;
}

nav ul {
    height: 50%;
    display: flex;
}

nav li {
    list-style-type: none;
}

nav li a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

nav li a:hover {
    color: rgba(0, 101, 252, 1);
    border-top: rgba(0, 101, 252, 1) solid 2px;
    transition-duration: 1s;
}
/*fin header*/

/*debut recherche*/
.search p {
    margin-top: 4px;
}
.btn__location {
    font-size: 18px;
    width: 50px;
    height: 49px;
    background-color: rgba(242, 242, 242, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    transition-duration: 0.3s;

}
.btn__location i{
    color: rgba(0, 0, 0, 1);

}
.btn__location:hover {
    scale: 1.15;
}
form {
    margin: 35px 0;
    display: flex;
}

.city__search {
    padding-left: 16px;
    border: 1px solid #F2F2F2;
    width: 270px;
    font-size: 18px;
    font-weight: 700;
}

.btn__search {
    display: block;
    width: 132px;
    color: #FFFFFF;
    background-color: rgba(0, 101, 252, 1);
    border: 1px solid rgba(0, 101, 252, 1);
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    transition-duration: 0.3s;
}
.btn__search:hover{
    scale: 1.05;
}
.loupe {
    display: none;
}
/*fin recherche*/

/*debut filtres*/
.filtres {
    margin: 40px 0;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container__filtres {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vw;
    margin: 20px;
}

.btn__filtre {
    height: 50px;
    display: flex;
    align-items: center;
    border: 2px solid rgba(217, 217, 217, 1);
    border-radius: 25px;
    cursor: pointer;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
}

.btn__filtre i {
    margin: 0 15px;
    /* color: rgba(0, 101, 252, 1); */
}
.btn__filtre p {
    margin-right: 20px;
    font-weight: 700;
    white-space: nowrap;
}
.btn__filtre:hover {
    background-color: rgba(222, 235, 255, 1);
}
/*fin filtres recherche*/

/*debut info*/
.info {
    display: flex;
    align-items: center;
}
.icon__info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    margin-right: 10px;
    transition-duration: 0.5s;
}
/*fin info*/

/*debut hébergement*/
.container__hebergements {
    display: flex;
    /* justify-content: space-evenly; */
    gap: 3vw;
    margin-top: 40px;
}
.hebergements {
    width: 63vw;
    /* max-width: 880px; */
    height: 626px;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 20px;
}
.hebergements h2,
.plus {
    margin: 42px 0 25px 40px;
}

.cartes__hebergements {
    width: 91%;
    height: 69%;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.cartes__hebergements .carte {
    width: 30.75%;
    height: 200px;
}
.carte {
    background-color: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0 3px 15px rgba(0, 0, 0, 0.1));
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.1);
    transition-duration: 0.5s;
}
.carte img {
    height: 124px;
    object-fit: cover;
    width: 100%;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0 0;
}

.carte__description {
    /* height: 36%; */
    margin-left: 15px;
    margin-top: -1.5%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.carte__description h3 {
    font-size: 16px;
    font-weight: 700;
}

.carte__description__prix {
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0px 10px 0px;
    flex: 1;
}
.carte__description__etoile {
    bottom: 0;
    height: 13px;
    justify-self: flex-end;
    display: flex;
    color: rgba(0, 101, 252, 1);
}

.carte__description__etoile .etoile-shaded {
    color: #F2F2F2;
}

.carte:hover{
    scale: 1.05;
}
.plus{
    font-size: 18px;
    font-weight: 700;
}
.plus:hover{
    font-size: larger;
    font-weight: 900;
}
/*fin cartes*/
/*fin hebergements*/

/*debut populaire*/
.populaire {
    width: 30vw;
    /* max-width: 420px; */
    background-color: rgba(242, 242, 242, 1);
    border-radius: 20px;
}

.titre__populaire {
    width: 81%;
    margin: 42px auto 23px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titre__populaire i{
    color: rgba(0, 101, 252, 1);
}
.cartes__populaires {
    width: 82%;
    height: 23%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 33px;
}
.populaire article img {
    width: 40%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

.cartes__populaires article a {
    width: 100%;
    height: 144px;
    border-radius: 20px;
    display: flex;
}

.populaire .carte__description {
    width: 50%;
    padding-top: 16px;
}
/*fin populaire*/

/*debut activités*/
.container__activites {
    margin: 60px 0;
}

.container__activites h2 {
    margin: 30px 0;
}

.carte__activites {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}
.carte__activites .carte {
    width: 21.5vw;
    max-height: 445px;
}
.carte__activites h3{
    margin: 20px 0;
}
.carte__activites img {
    height: 28vw;
    max-height: 87.5%;
    border: none;
}

.carte__activites .description {
    width: auto;
    height: 56px;
    margin: -1.5% 20px 0 20px;
    justify-content: center;
}
/*fin activités*/

/*debut footer*/
footer {
    display: flex;
    gap: 18%;
    background-color: #F2F2F2;
    padding: 45px 0 45px 70px;
}

footer h3 {
    margin-bottom: 20px;
}

footer p {
    margin-bottom: 12px;
}
/*fin footer*/

/*debut responsive*/
/*debut tablette*/
@media screen and (max-width: 1024px) {
    .body-gap {
        padding-left: 0;
    }

    .filtres {
        margin-left: 0;
    }

    .info {
        margin-left: 0;
    }

    article {
        width: 31.5%;
    }

    .container__hebergements{
        flex-direction: column;
        gap: 50px;
    }
.container__hebergements h2{
    font-size: 22px;
    font-weight: 700 ;
}
    .hebergements {
        width: 100%;
        max-width: none;
    }

    .populaire {
        width: 100%;
        /* max-width: none;
        height: auto; */
        padding-bottom: 30px;
    }

    .titre__populaire {
        width: 91%;
    }

    .cartes__populaires {
        display: flex;
        flex-direction: row;
        width: 91%;
        height: auto;
    }

    .activites {
        margin: 70px 0;
    }

    .container__activites {
        margin-bottom: 34px;
    }
    .container__activites h2{
        font-size: 22px;
    }

    footer {
        gap: 8%;
    }
} 
/*fin tablette*/

/*debut mobile*/
@media screen and (max-width: 768px) {
    body {
        margin: 0;
    }

    header {
        height: 130px;
        flex-direction: column;
        padding-top: 20px;
    }

    header img {
    width: 70%;
    height: 70%;
    }

    nav {
        width: 100%;
        margin-top: 25px;
    }

    nav li {
        flex: 1;
    }

    nav li a {
        justify-content: center;
        border-bottom: #F2F2F2 solid 3px;
    }

    nav li a:hover {
        border-bottom: #0065FC solid 3px;
        border-top: none;
    }
    /*debut search*/
    .search{
        margin: 0 20px;
    }
    
    .city__search{
    width: 100%;
    }
    .btn__search {
        display: none;
    }
    .loupe {

    font-size: 18px;
    width: 49px;
    height: 49px;
    background-color: rgba(0, 101, 252, 1);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    transition-duration: 0.3s;
    }
    .loupe i{
        color: white;
    }
    .loupe:hover{
        scale: 1.15;
    }
    /*fin search*/

    /*debut filtres*/
    .filtres {
        width: 100vw;
        /* margin: auto; */
        flex-direction: column;
        align-items: flex-start;
        margin: 0 20px;
    }

    .container__filtres {
        gap: 3vw;
        margin: 20px 0;
    }

    .btn__filtre {
        width: 44vw;
    }

    .btn__filtre p {
        margin: 0px 20px 0px 20px;
    }
    /*fin filtres*/

    .info {
        margin: 35px 0 0 20px;
        display: flex;
        align-items: flex-start;
    }

    .texte-info {
        width: 86vw;
    }

/*debut hebergement*/
    .container__hebergements {
        flex-direction: column-reverse;
        gap: 0;
    }
    .hebergements {
        height: auto;
        width: fit-content;
        background-color: #FFFFFF;
    }
    .hebergements h2{
        font-size: 22px;
    }
    .cartes__hebergements{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .cartes__hebergements .carte{
        height: fit-content;
        width: 90vw;
    }
    .carte__description h3 {
        padding-top: 5px;
    }
    .plus {
        visibility: hidden;
    }
    /*fin hebergement*/

    /*debut populaire*/
    .populaire {
        border-radius: 0;
        width: 100%;
        padding: 0 0 50px 0;
    }

    .titre__populaire {
        width: 89vw;
    }
    .titre__populaire h2 {
    font-size: 22px;
    font-weight: 700;
    }
    .titre__populaire i{
    font-size: 22px;
    font-weight: 700;
    }
    .cartes__populaires {
        flex-direction: column;
        gap: 15px;
        width: fit-content;
    }
    .cartes__populaires .carte{
        width: 90vw;
    }
    /*fin populaire*/

    /*debut activitees*/
    .container__activites {
        width: 89vw;
        margin: 0 20px ;
    }
    .container__activites h2{
    font-size: 22px;
    }
    .carte__activites {
        flex-direction: column;
        gap: 15px;
        width: fit-content;
    }
    .carte__activites .carte {
        width: 90vw;
    }
    /*fin activitees*/

    footer {
        flex-direction: column;
        gap: 40px;
        padding-left: 30px;
    }
}
/*fin mobile*/